
@{
    ViewData["Title"] = "Index";
}

<h1>Laboratorios</h1>

<script src="~/js/laboratorio.js"></script>
<script src="~/js/generic.js"></script>

<form id="frmBusquedaLabotarorio" method="post">
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="direccion">Direccion:</label>
                        <input type="text" class="form-control" id="txtdireccion" name="direccion">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="personacontacto">Persona de contacto:</label>
                        <input type="text" class="form-control" id="txtpersonacontacto" name="personacontacto">
                </div>
            </div>
            <div class="row g-3"> 
                <div class=" d-grid gap-1">
                        <button type="button" onclick="buscarLaboratorio()" class="btn btn-primary">
                        Buscar
                    </button>
                        <button type="button" onclick="LimpiarLaboratorio()" class="btn btn-danger">
                        Limpiar
                    </button>
                </div>
            </di>
        </div>
    </div>
</div>
</form>

<div id="divtabla">
</div>
