@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<script src="~/js/tipoMedicamento.js"></script>
<script src="~/js/generic.js"></script>


<form id="frmBusquedaTipoMedicamento" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtTipoMedicamentoNombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="txtTipoMedicamentoDescripcion" name="descripcion">
                    </div>
                </div>
                <div class="row g-3">
                    <div class=" d-grid gap-1">
                        <button type="button" onclick="filtrarTipoMedicamento()" class="btn btn-primary">
                            Filtrar
                        </button>
                        <button type="button" onclick="LimpiarTipoMedicamentoB()" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="frmGuardarTipoMedicamento" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="txtdescripcion" name="descripcion">
                    </div>
                </div>
                <div class="row g-3">
                    <div class=" d-grid gap-1">
                        <button type="button" onclick="guardarTipoMedicamento()" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="button" onclick="LimpiarTipoMedicamento()" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                    </di>
                </div>
            </div>
        </div>
</form>

<div id="divtabla">
</div>

<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">ID</span>
    <input type="text" id="idEli" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>

<button type="button" onclick="eliminarMed()" class="btn btn-outline-primary">Eliminar</button>
<dr></dr>