@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<script src="~/js/tipoMedicamento.js"></script>
<script src="~/js/generic.js"></script>


<form id="frmBusquedaTipoMedicamento" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtTipoMedicamentoNombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="txtTipoMedicamentoDescripcion" name="descripcion">
                    </div>
                </div>
                <div class="row g-3">
                    <div class=" d-grid gap-1">
                        <button type="button" onclick="filtrarTipoMedicamento()" class="btn btn-primary">
                            Filtrar
                        </button>
                        <button type="button" onclick="LimpiarTipoMedicamentoB()" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="frmGuardarTipoMedicamento" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="idTipoMedicamento">Id Medicamento:</label>
                        <input type="text" class="form-control" id="txtidMedicamento" name="idMedicamento" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="txtdescripcion" name="descripcion">
                    </div>
                </div>
                <div class="row g-3">
                    <div class=" d-grid gap-1">
                        <button type="button" onclick="guardarTipoMedicamento()" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="button" onclick="LimpiarTipoMedicamento()" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Tipo de Medicamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmEditarTipoMedicamento" method="post">
                    <div class="mb-3">
                        <label for="txtidMedicamentoModal" class="form-label">ID Medicamento</label>
                        <input type="text" class="form-control" id="txtidMedicamentoModal" name="idMedicamento" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="txtnombreModal" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombreModal" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="txtdescripcionModal" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtdescripcionModal" name="descripcion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarEdicion()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>


<div id="divtabla">
</div>

<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">ID</span>
    <input type="text" id="idEli" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>

<button type="button" onclick="eliminarMed()" class="btn btn-outline-primary">Eliminar</button>
<dr></dr>